<!DOCTYPE html>
<html>
  <head>
    <title>MSGBRD</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>MSGBRD</h1>
      <div>
        <% if (user) { %>
          <h4 class="username"><%= user.username %></h4>
        <% } %>
        <nav>
          <% if (user) { %>
            <a href="/new">new post</a>
            <a class="ml-1" href="/signout">sign out</a>
          <% } else { %>
            <a class="ml-1" href="/signin">sign in</a>
            <a class="ml-1" href="/signup">sign up</a>
          <% } %>
        </nav>
      </div>
    </header>
    <main>
      <div class="mt-2">
        <% posts.forEach(function(post){ %>
          <div class="post mt-1">
            <h4><%= post.title %></h4>
            <span class="mt-1"><%= post.date %></span>
            <% if (user) { %>
              <span class="mt-1">by: <%= post.user.username %></span>
            <% } %>
            <p class="mt-1"><%= post.post %></p>
          </div>
        <% }); %>
      </div>
    </main>
  </body>
</html>
